
// All base are belongs to me. Normalize, resets and other stuff.
@import "base/normalize"
@import "base/flex"

// Theme options and variables.
@import "modules/colors"
@import "modules/variables"
@import "base/fonts"

// Individual block elements and their specific styling.
@import "elements/elements"
@import "elements/icons"
@import "elements/sidebar"
@import "elements/header"
@import "elements/nav"
@import "elements/global"
@import "elements/alert"
@import "elements/buttons"
@import "elements/forms"
@import "elements/tooltip"
@import "elements/lightbox"
@import "elements/console"
@import "elements/animations"

// Tab specific styles.
@import "pages/overview"
@import "pages/history"
@import "pages/favorites"
@import "pages/settings"
@import "pages/send"
@import "pages/shade"
@import "pages/wallet"
@import "pages/myshades"
@import "pages/messages"
@import "pages/gifts"
@import "elements/splash"

// Media Queries
@import	"modules/media"





