// Flex Items
aside
aside > *
nav > *
main
header
section
.search
.search__results a
.search__results--item
.alert a
.controls
.controls a
.title
.card
.btn
.favorites
.favorites__controls
.favorites__add
.favorites__list
.favorites__list--active
.favorites__cap
.favorites__name
.entry__container
.entry__cap
.entry__details
.entry__name
.entry__left
.entry__right
.history__table
.history__row
.history__row--header
.history__col
.sort
.sort--active
.alert__dropdown
.settings
.settings__entry
.settings__profile
.settings__stats
.settings__sync
.lightbox
.lightbox__header
.lightbox__content
.lightbox__passphrase
.lightbox__buttons
.lightbox__row
.send__source
.send__source__details
.send__right
.send__balance
.send__dest
.send__amount
.dest
.dest__entry
.dest__details
.send__dialogue
.shade__dialogue
.tgt
.tgt__entry
.tgt__entry__amount
.tgt__details
.send__row
.shade__row
.wallet__primary
.wallet__primary--not
.myshades__primary
.myshades__primary--not
.messages__input
.messages__input input
.messages__body
.messages__status
[class*="__tick"]
.splash
.splash__inner
.splash__inner--left
.splash__inner--right
.splash__logo
.splash__button
    display flex
    flex-direction column
