// basic colors
$white = #ffffff
$black = #000000
$red = #E76969
$gray = #444545

// main colors
$main__Color = #1AA8EA
$main__Color--dark = #222
$main__Color--accent = #D8446C

// light colors

// secondary colors
$secondary__Color = $white - 4%
$secondary__Color--available = #45E283
$secondary__Color--pending = #FFCD9D

$tertiary__Color--gray = $white - 11%

// splash colors

$tertiary__Color--splash = #5733AE