@media screen and (max-height: 780px) 
	.avatar
	.avatar__img
	.logo
		margin-bottom 1em
	
	nav
		.category
			display none

@media screen and (max-width: 1100px)
	aside
		width $aside--width-compact
	
	.avatar
		
	nav
		.category
			display none
			
		.tab 
			padding 1.5em 0

		.tab__name
			display none
	
	.sidebar__sync
		display none

	header
		margin-left $aside--width-compact + 4px
		width calc(100% - 84px)
	
	main
		margin-left $aside--width-compact + 4px
	
	.favorites
		left $aside--width-compact + 4px
		
	.messages__input
		left 404px
		
	
